@import "tailwindcss";

@theme {
    --font-basic: 'Basic Sans', monospace;
    --font-myriad: 'Myriad', monospace;
    --color-yellow-green: #B8D445;
    --color-dark-green: #07201E;
  }

html {
  @apply text-zinc-50;
  scroll-behavior: smooth;
}

.glassmorphism {
  backdrop-filter: blur(10px);
  background-blend-mode: color-burn;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: "Myriad";
  src: url("../../public/fonts/MyriadPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basic Sans";
  src: url("../../public/fonts/BasicSans.otf");
  font-weight: normal;
  font-style: normal;
}



