@import "tailwindcss";

/* @theme {
    --font-sans: 'Myriad', 'sans-serif';
  } */

html {
  @apply text-zinc-50;
  /* @apply tracking-tight; */
  scroll-behavior: smooth;
  font-family: 'Myriad', 'sans-serif'
}

.dark-green-color {
  background-color: rgba(7, 32, 30, 1)
  /* background-color: linear-gradient(90deg, rgba(14,75,58,1) 0%, rgba(5,40,37,1) 100%); */
}

.glassmorphism {
  backdrop-filter: blur(10px);
  background-blend-mode: color-burn;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: 'Myriad';
  src: url('../../public/fonts/MyriadPro-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}