---
import ThreeScene from "../components/ThreeScene";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full h-min-[1000px] h-[100vh]">
        <ThreeScene client:load />
    </div>
</Layout>