---
import ButtonAnimated from '../components/animated/ButtonAnimated';
import Hero from '../components/texts/Hero';

import Layout from '../layouts/Layout.astro';

import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"
---

<Layout>
    <div class="w-full min-h-screen">
		<div class="-mb-96" id="main-hero">
			<div class="my-12 mx-24 flex flex-row justify-between ">
				<div class="">
					<Hero client:load 
						duration={2}
						stagger={0.5}
						filter={true} className={'text-[6vw] leading-[5vw] max-w-5xl'} words={'ABOUT US'}/>
					</div>
					<div class="text-xl flex flex-col items-end gap-10">
						<Hero client:load 
							duration={2}
							stagger={0.02}
							filter={true} className={'text-3xl font-thin max-w-5xl text-right'} words={'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus varius. Integer tristique posuere est, vel egestas dui mollis sed. Phasellus euismod sed neque sed iaculis.'}/>
				</div>
			</div>
			<div class="max-h-[75vh] overflow-hidden border-b-[0.1px] border-zinc-50/35">
				<img src={contact1.src} alt="contacts" height={200} class="origin-bottom -translate-y-2/5"/>
			</div>
		</div>
	</div>
</Layout>