---
import HeroCaption from '../components/HeroCaption';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="w-full min-h-screen">
        <div class="m-16 flex flex-col">
            <div class="">
                <HeroCaption client:load 
                duration={2}
                stagger={0.5}
                filter={true} className={'text-[6vw] leading-[5vw] max-w-5xl'} words={'CONTACT US'}/>
            </div>
        </div>
	</div>
</Layout>