---
import Hero from '../components/texts/Hero';
import Layout from '../layouts/Layout.astro';

import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"

import GeneralSection from '../components/sections/GeneralSection';
import FullImageSection from '../components/sections/FullImageSection';
import ServicesSections from '../components/ServicesSections';
import SubCaption from '../components/texts/SubCaption';
import Caption from '../components/texts/Caption';
import SectionFadeIn from '../components/animated/SectionFadeIn';
import ButtonAnimated from '../components/animated/ButtonAnimated';
import MailingListSection from '../components/sections/MailingListSection';
import HeroTopSection from '../components/sections/HeroTopSection';
import { stockImages } from '../lib/const';
---

<Layout>
    <div id='services-main-container' class="w-full flex flex-col">



		<HeroTopSection 
			client:load id="services" 
			heroText='Our Services' 
			heroCaption='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus varius. Integer tristique posuere est, vel egestas dui mollis sed. Phasellus euismod sed neque sed iaculis.'
			heroImgSrc={stockImages.bulldozer}
		/>



        <GeneralSection id="index-hero-caption" additionalClasses='px-0 md:px-12  bg-yellow-green'>
            <Caption
                duration={1}
                stagger={0.05}
                className='text-dark-green md:text-center text-left'
                client:load 
				words={
                'Kami telah dipercaya PLN dan Swasta dalam membuat kerjasama dengan mereka. Kami selalu mendapatkan kembali kepercayaan dari klien kami, karena kami bekerja secara profesional dengan menyediakan tenaga ahli dalam bidangnya.'
            }/>
        </GeneralSection>
        <ServicesSections client:load />
		<MailingListSection client:load id='services-mailing-list'/>
    </div>
</Layout>
