---
import Hero from '../components/texts/Hero';
import Layout from '../layouts/Layout.astro';

import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"

import GeneralSection from '../components/sections/GeneralSection';
import FullImageSection from '../components/sections/FullImageSection';
import ServicesSections from '../components/ServicesSections';
import SubCaption from '../components/texts/SubCaption';
import Caption from '../components/texts/Caption';
---

<Layout>
    <div id='services-main-container' class="w-full flex flex-col">
        <GeneralSection id='services-hero-top'>
            <div class="flex flex-col md:flex-row justify-between gap-10">
				<Hero 
					client:load 
					duration={1.5}
					stagger={0.05}
					filter={true} 
					words={'OUR SERVICES'}/>
				<div class="text-xl flex flex-col items-start md:items-end gap-10">
					<SubCaption client:load 
						duration={0.5}
						stagger={0.02}
						filter={true}
						className={'text-left md:text-right'}
						words={'Integer tristique posuere est, vel egestas dui mollis sed. Phasellus euismod sed neque sed iaculis.'}/>
				</div>
			</div>
        </GeneralSection>
        <FullImageSection id="index-hero-picture" additionalClasses={'max-h-[150vh] md:max-h-[75vh] '}>
			<img src={bulldozer.src} alt="bulldozer" height={200} class=""/>
		</FullImageSection>
        <GeneralSection id="index-hero-caption" additionalClasses=''>
            <Caption
                duration={1}
                stagger={0.05}
                client:load words={
                'Kami telah dipercaya PLN dan Swasta dalam membuat kerjasama dengan mereka. Kami selalu mendapatkan kembali kepercayaan dari klien kami, karena kami bekerja secara profesional dengan menyediakan tenaga ahli dalam bidangnya.'
            }/>
        </GeneralSection>
        <ServicesSections client:load />
    </div>
</Layout>