.main__container {
    max-width: 1000px;
    margin-inline: auto;
    background: rgb(124, 145, 175);
    padding: 3rem;
  }
  
  /* Marquee styles */
  .marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    border: 2px dashed lightgray;
  }
  
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }

  
  .marquee__content > * {
    margin: 2px;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
  }
  
  .marquee__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes scroll {
from { transform: translateX(0); }
to { transform: translateX(calc(-100% - 2rem)); }
}

  /* Enable animation */
.enable-animation .marquee__content {
    animation: scroll 40s linear infinite alternate;
  }