---
import Header from "../components/Header"
import Footer from "../components/Footer"
import '../styles/global.css'
import favicon from '../../public/favicon.svg'
import { ClientRouter, slide } from "astro:transitions";

import LoadingIndicator from "astro-loading-indicator/component"
import { constColors } from "../lib/const";


let currentPath = Astro.url.pathname;
currentPath = currentPath[-1] == "/" ? currentPath.slice(0,-1) : currentPath
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href={favicon.src}/>
		<meta name="generator" content={Astro.generator} />
		<title>Mitra Adikarsa</title>
		<ClientRouter/>
	</head>
	<body class="bg-dark-green font-basic w-full text-[#FEFBDF] " transition:animate="fade" >
		<div>
			<Header client:load currentPath={currentPath} />
				<slot />
		</div>
		<Footer client:load/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
