---
import Header from "../components/Header"
import Footer from "../components/Footer"
import '../assets/styles/global.css'
import '@fontsource-variable/space-grotesk';
import favicon from '../../public/favicon.svg'
import { ClientRouter, slide } from "astro:transitions";


let currentPath = Astro.url.pathname;
currentPath = currentPath[-1] == "/" ? currentPath.slice(0,-1) : currentPath
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon.src}/>
		<meta name="generator" content={Astro.generator} />
		<title>Mitra Adikarsa</title>
		<ClientRouter/>
	</head>
	<body class="grainy-bg dark-green-color">
		<Header client:load transition:persist currentPath={currentPath} />
		<div 
			transition:animate={slide({duration: "1s"})} 
			class="w-full min-h-[100vh] text-[#FEFBDF]">
			<slot  />
		</div>
		<Footer client:load/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
